@using TODOAPP.ViewModels;
@model TaskTableViewModel

<div class="container">
        <h1 class="text-center fw-light display-3 mb-5 mt-5" style="color:#8662f7"> <span style="color:#dfe0fb">TO</span>DO APP</h1>
    <div class="row d-flex justify-content-center align-content-center flex-column">


        <form id="form" method="post" asp-action="Create" class="col-6  p-5 rounded-3" >

        <h2 class="fw-light text-center text-uppercase mt-2 mb-2  fw-light">Create New Task</h2>

            <div class="mb-2">
                <label asp-for="TaskName" class="form-label"></label>
                <input type="text" asp-for="TaskName" class="form-control" placeholder="Task Name" />
                <span asp-validation-for="TaskName" class="text-danger fw-light"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Priority" class="form-label"></label>
                <input type="number" asp-for="Priority" class="form-control" min="0" max="10" />
                <span asp-validation-for="Priority" class="text-danger fw-light"></span>
            </div>

          

            <div class="mb-2">
                <label asp-for="Status_Id"></label>
                <select asp-for="Status_Id" class="form-select " asp-items="@(new SelectList(Model.Status, "StatusId", "StatusName"))">
                    <option></option>
                </select>
                <span asp-validation-for="Status_Id" class="text-danger fw-light"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Category_Id"></label>
                <select asp-for="Category_Id" class="form-select" asp-items="@(new SelectList(Model.Category, "CategoryId", "CategoryName"))">
                    <option></option>
                </select>
                <span asp-validation-for="Category_Id" class="text-danger fw-light"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-3 rounded-pill px-4 py-2 ">Save</button>
            <button type="submit" class="btn btn-outline-secondary rounded-pill mt-3 px-4 py-2 " asp-action="Index">Cancel</button>


        </form>

    </div>

</div>