
<h1 class="text-center fw-light display-3 mb-5 mt-5" style="color:#8662f7"> <span style="color:#dfe0fb">TO</span>DO APP</h1>

<div class="container mt-4">
    <div class="row d-flex justify-content-center align-content-center flex-column">
        <div class="col-8  rounded-2 bg-black bg-opacity-50 px-4 py-5   ">
            <h1 class="text-center pb-4"> <i class="bi bi-hourglass-split display-3"></i></h1>
            <h1 class="text-center mb-4 text-uppercase fw-light">You Have Start Task </h1>
            <div class="text-center mt-4">
                <a class="btn btn-primary rounded-pill px-4 py-2 w-25" asp-action="Index">OK</a>
            </div>
        </div>
    </div>
</div>